body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.privacy-container {
    max-width: 800px;
    margin: 50px auto; /* Centers the div horizontally */
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}
