
venv

.env

errors.log
# Ignore compiled files and cache
__pycache__
*.pyc
*.pyo

save_words_to_users

bulk_insert_vocab.py
check_existing_vocab.py
*.pyc
__pycache__/
*.log
.env
db.sqlite3
.vscode/
.idea/
*.DS_Store
venv

